body {
	font-family: 'Roboto', sans-serif;
	background: #fff;
	font-weight: normal;
	font-size: 15px;
	color: #333;
	-webkit-font-smoothing: antialiased;
}

#containerBuffer {
	background: none repeat scroll 0 0 #fff;
	padding-top: 148px;
}

ul {
	padding: 0;
	margin: 0;
}

ul li {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

.wrapper {
	max-width: 700px;
	margin: 30px auto;
	border: 1px solid #eee;
	width: 100%;
	background-color: #fff;
}

.call {
	color: #50b0ce;
	font: bold 28px/30px "Roboto";
	padding: 12px;
	margin: 0;
	border-bottom: 1px solid #ddd;
	text-transform: uppercase;
}

#containerBox {
	height: 500px;
	overflow: scroll;
}

.questionTypeBox {
	background-color: #F8F8F8;
	padding: 12px;
	border-bottom: 1px solid #ddd;
	float: left;
	width: 100%;
}

#num {
	float: left;
	width: 4%;
	margin: 8px 0 0 0;
}

.queDesc, .queDesc2 {
	border: 1px solid #ccc;
	height: 35px;
	padding: 6px 12px;
	border: 1px solid #ccc;
	color: #555;
	font: 300 14px/22px "Roboto";
	display: block;
	border-radius: 4px;
	width: 92%;
}

.queDesc2 {
	width: 50%;
	margin: 0 0 0 15px;
}

.descArea {
	border: 1px solid #ccc;
	height: 35px;
	padding: 6px 12px;
	border: 1px solid #ccc;
	color: #555;
	font: 300 14px/22px "Roboto";
	display: block;
	border-radius: 4px;
	width: 90%;
}

.fleft {
	float: left;
}

.subQuestion {
	text-align: right;
	color: #919bac;
	font: 14px/20px "Roboto";
	text-transform: capitalize;
	border: none;
	background: none;
	float: left;
	position: relative;
	padding: 0 20px 0 0;
	margin: 6px 0 0 30px;
}

.subQuestion:after {
	font-family: 'FontAwesome';
	content: "\f067";
	position: absolute;
	left: -15px;
}

.chooseQue {
	width: 100%;
	display: block;
	margin: 5px 0 0 0;
	float: left;
}

.chooseQue span {
	float: left;
	margin: 3px 5px 0 0;
	background-color: #919BAC;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	text-align: center;
	color: #fff;
}

.multi-line {
	padding: 12px;
	border-bottom: 1px solid #ddd;
	float: left;
	width: 100%;
}

.single {
	padding: 12px;
	border-bottom: 1px solid #ddd;
	float: left;
	width: 100%;
}

.Multi {
	padding: 12px;
	border-bottom: 1px solid #ddd;
	float: left;
	width: 100%;
}

.second-multi-line {
	padding: 12px;
	float: left;
	width: 100%;
}

.second-single {
	padding: 12px;
	float: left;
	width: 100%;
}

.second-Multi {
	padding: 12px;
	float: left;
	width: 100%;
}

.add-question {
	display: block;
	background-color: #F8F8F8;
	width: 100%;
	overflow: hidden;
	padding: 5px 0 10px 0;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

#addButton {
	text-align: right;
	color: #919bac;
	font: 16px/20px "Roboto";
	text-transform: uppercase;
	border: none;
	background: none;
	float: right;
	position: relative;
}

#addButton:after {
	font-family: 'FontAwesome';
	content: "\f067";
	position: absolute;
	left: -15px;
}

.bottomSec {
	padding: 5px 12px;
	display: block;
	width: 100%;
}

.saveBtn {
	padding: 8px 25px;
	background: #2d8499;
	text-transform: uppercase;
	color: #fff;
	font: 14px/18px "Roboto";
	display: inline-block;
	text-align: center;
	border: none;
	margin: 0 20px 0 0;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	-moz-border-radius: 2px;
}

.add-sub-question {
	display: block;
	margin: 10px 0 0 0;
	width: 100%;
	float: left;
}

.output {
	display: block;
	width: 100%;
	padding: 10px 12px;
}

.ques {
	background-color: #8dbfcd;
	color: #fff;
	text-align: center;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	float: left;
	margin: 8px 10px 0 0;
	padding: 0px 0 0 0;
}

.rstBtn {
	padding: 8px 25px;
	background: #2d8499;
	text-transform: uppercase;
	color: #fff;
	font: 14px/18px "Roboto";
	display: inline-block;
	text-align: center;
	border: none;
	margin: 0 20px 0 0;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	-moz-border-radius: 2px;
}

.lstBtn {
	padding: 8px 25px;
	background: #2d8499;
	text-transform: uppercase;
	color: #fff;
	font: 14px/18px "Roboto";
	display: inline-block;
	text-align: center;
	border: none;
	margin: 0 20px 0 0;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	-moz-border-radius: 2px;
}